@font-face {
  font-family: "Manrope200";
  src: url(../fonts/Manrope/Manrope-ExtraLight.ttf);
}
@font-face {
  font-family: "Manrope300";
  src: url(../fonts/Manrope/Manrope-Light.ttf);
}
@font-face {
  font-family: "Manrope400";
  src: url(../fonts/Manrope/Manrope-Regular.ttf);
}
@font-face {
  font-family: "Manrope500";
  src: url(../fonts/Manrope/Manrope-Medium.ttf);
}
@font-face {
  font-family: "Manrope600";
  src: url(../fonts/Manrope/Manrope-SemiBold.ttf);
}
@font-face {
  font-family: "Manrope700";
  src: url(../fonts/Manrope/Manrope-Bold.ttf);
}
@font-face {
  font-family: "Manrope800";
  src: url(../fonts/Manrope/Manrope-ExtraBold.ttf);
}
.dark .nav,
.dark .header,
.dark .main,
.dark .footer {
  background-color: #000;
}

.dark #navbar.navbar-shrink {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 15px 5px #CB1D95;
          box-shadow: 0px 0px 15px 5px #CB1D95;
}

.dark h2,
.dark a,
.dark p,
.dark strong {
  color: #fff;
}

.dark .home__center {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 15px 5px #CB1D95;
          box-shadow: 0px 0px 15px 5px #CB1D95;
}

.dark .home__title {
  color: #CB1D95;
}

.dark .about__column {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 15px 0px #CB1D95;
          box-shadow: 0px 0px 15px 0px #CB1D95;
}

.dark .about__strong {
  color: #CB1D95;
}

.dark .team-card {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 15px 0px #CB1D95;
          box-shadow: 0px 0px 15px 0px #CB1D95;
}

.dark .team__box {
  background-color: #000;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.dark #team-carousel .owl-dot span {
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 0px white;
          box-shadow: 0px 0px 15px 0px white;
}

.dark #team-carousel .owl-dot.active span {
  -webkit-box-shadow: 0px 0px 15px 5px #CB1D95;
          box-shadow: 0px 0px 15px 5px #CB1D95;
}

.dark .btn, .dark .nav__btn {
  -webkit-box-shadow: 0px 0px 10px 3px #CB1D95;
          box-shadow: 0px 0px 10px 3px #CB1D95;
}

.dark .help__input {
  -webkit-box-shadow: 0px 0px 10px 2px #FFFFFF;
          box-shadow: 0px 0px 10px 2px #FFFFFF;
}

.dark .header__btn {
  -webkit-box-shadow: 0px 0px 10px 1px #77B2D3;
          box-shadow: 0px 0px 10px 1px #77B2D3;
}

.dark .nav__img {
  -webkit-box-shadow: 0px 0px 5px 5px #FFFFFF;
          box-shadow: 0px 0px 5px 5px #FFFFFF;
}

.dark #backtop {
  -webkit-box-shadow: 0px 0px 15px 5px #CB1D95;
          box-shadow: 0px 0px 15px 5px #CB1D95;
}

.dark .open {
  color: #FFFFFF;
}

.dark #navbar-responsive {
  background-color: #000;
}

.dark .close {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f7f6ff;
}

.container {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
i {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  outline: none;
  border: none;
}

#loading {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

#backtop {
  position: fixed;
  right: 20px;
  bottom: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

#backtop .top-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#backtop.backtop-show {
  bottom: 80px;
}

#navbar.navbar-shrink {
  padding: 3px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 5px #000;
          box-shadow: 0px 0px 15px 5px #000;
}

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10000;
}

#navbar-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  border: none;
  background: transparent;
  z-index: 9999;
}

.close {
  font-size: 30px;
  color: var(--dark);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.open {
  display: none;
}
@media (max-width: 1050px) {
  .open {
    display: block;
    font-size: 25px;
    color: var(--white);
  }
}

#mode__btn {
  cursor: pointer;
}

.res-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.res-nav__link {
  color: #333333;
  font-family: "Manrope500";
  font-size: 25px;
}

.title {
  max-width: 530px;
  color: #333333;
  font-family: "Manrope700";
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.btn, .nav__btn {
  padding: 14px 53px;
  background-color: #CB1D95;
  border-radius: 9px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Manrope600";
  font-size: 16px;
  line-height: 26px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__info, .header__info, .home__columns, .about__columns, .help__column, .help__inputs, .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #FFFFFF;
  z-index: 99;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.nav__list {
  gap: 40px;
}
.nav__link {
  font-family: "Manrope500";
  font-size: 16px;
  letter-spacing: 0em;
  color: #333333;
}
.nav__btn {
  padding: 14px 33px;
}
.nav__img {
  border-radius: 20px;
}

.header__info {
  padding: 150px 0px 90px;
}
.header__title {
  color: #333333;
  font-family: "Manrope500";
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.header__strong {
  color: #333333;
  font-family: "Manrope800";
  font-size: 45px;
  line-height: 65px;
}
.header__text {
  color: #333333;
  font-family: "Manrope600";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__btn {
  border-radius: 250px;
  background: #77B2D3;
  padding: 14px 30px;
  color: #FFFFFF;
  font-family: "Manrope600";
  font-size: 16px;
  line-height: 26px;
}
.header__img {
  max-width: 573px;
}

.main {
  padding-bottom: 90px;
}

.home {
  margin-bottom: 76px;
}
.home__center {
  border-radius: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  padding: 40px 77px 56px 53px;
}
.home__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding-right: 63px;
  border-right: 1px solid #c7c7c7;
}
.home__column:nth-child(4) {
  border-right: none;
  padding-right: 0px;
}
.home__title {
  font-family: "Manrope800";
  font-size: 40px;
  line-height: 48px;
  color: #CB1D95;
}
.home__text {
  color: #333333;
  font-family: "Manrope500";
  font-size: 16px;
  line-height: 24px;
}

.about {
  margin-bottom: 90px;
}
.about__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__column {
  max-width: 220px;
  height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
.about__mon {
  border-radius: 15px 15px 0px 0px;
  max-width: 220px;
  height: 74px;
  text-align: center;
  background-color: #77B2D3;
  padding: 11px 50px;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__title {
  color: #FFFFFF;
  text-align: center;
  font-family: "Manrope800";
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  max-width: 170px;
}
.about__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-left: 16px;
  padding-right: 3px;
}
.about__exam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.about__chek {
  font-size: 15px;
  background-color: #CB1D95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  padding: 5px;
  color: #FFFFFF;
}
.about__text {
  color: #333333;
  font-family: "Manrope400";
  font-size: 16px;
  line-height: 24px;
}
.about__hr {
  max-width: 210px;
  height: 2px;
  background: #e2e2e2;
  margin: auto;
  margin-bottom: 11px;
}
.about__max {
  color: #333333;
  font-family: "Manrope400";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 15px;
}
.about__strong {
  font-family: "Manrope800";
  font-size: 30px;
  line-height: 24px;
  color: #CB1D95;
}

.help {
  margin-bottom: 112px;
}
.help__text {
  color: #333333;
  font-family: "Manrope400";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 22px;
}
.help__inputs {
  margin-bottom: 20px;
}
.help__input {
  border-radius: 7px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 20px;
  width: 250px;
}
.help__area {
  width: 570px;
  height: 140px;
  border-radius: 7px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 20px;
  font-size: 16px;
  resize: none;
  margin-bottom: 20px;
}
.help__area::-webkit-input-placeholder {
  color: #333333;
  font-family: "Manrope300";
  line-height: 26px;
  font-size: 16px;
}
.help__area::-moz-placeholder {
  color: #333333;
  font-family: "Manrope300";
  line-height: 26px;
  font-size: 16px;
}
.help__area:-ms-input-placeholder {
  color: #333333;
  font-family: "Manrope300";
  line-height: 26px;
  font-size: 16px;
}
.help__area::-ms-input-placeholder {
  color: #333333;
  font-family: "Manrope300";
  line-height: 26px;
  font-size: 16px;
}
.help__area::placeholder {
  color: #333333;
  font-family: "Manrope300";
  line-height: 26px;
  font-size: 16px;
}
.help__cheked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.help .chekbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFFFFF;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.help .chekbox::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: blue;
}
.help .chekbox:checked::after {
  width: 32px;
  height: 32px;
  border-radius: 2px;
}
.help__text {
  color: #333333;
  font-family: "Manrope300";
  font-size: 16px;
  line-height: 26px;
  margin-top: 25px;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 580px;
  border-radius: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}
.team__img {
  max-width: 150px;
  height: 100px;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.team__img2 {
  max-width: 225px;
  height: 100px;
}
.team__text {
  max-width: 508px;
  color: var(--, #333);
  font-family: "Manrope400";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
  padding-left: 20px;
}
.team__box {
  width: 100%;
  background: #f3f1fe;
  padding: 20px;
}
.team__box__title {
  color: #333333;
  font-family: "Manrope800";
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.team__box__text {
  max-width: 185px;
  color: #333333;
  font-family: "Manrope400";
  font-size: 16px;
  line-height: 26px;
}
.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.team__child {
  width: 185px;
}
.team__bottom {
  padding: 24px 20px 25px;
}
.team__bottom__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.team__bottom__img {
  max-width: 151px;
}

#team-carousel {
  position: relative;
}

#team-carousel :is(.owl-prev, .owl-next) {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #d1d1d1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 40%;
}

#team-carousel :is(.owl-prev, .owl-next):hover {
  background-color: transparent;
  color: #d1d1d1;
}

#team-carousel .owl-prev {
  left: -25px;
}

#team-carousel .owl-next {
  right: -30px;
}

#team-carousel .owl-dot span {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#team-carousel .owl-dot.active span {
  width: 50px;
  background: #CB1D95;
}

.footer {
  background-color: #FFFFFF;
  padding: 52px 0px 70px;
}
.footer__title {
  max-width: 166px;
  color: #333333;
  font-family: "Manrope400";
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  margin-top: 5px;
  margin-bottom: 22px;
}
.footer__max {
  color: #333333;
  font-family: "Manrope600";
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__link {
  color: #333333;
  font-family: "Manrope400";
  font-size: 16px;
  line-height: 36px;
}

@media (max-width: 1300px) {
  #team-carousel :is(.owl-prev, .owl-next) {
    display: none;
  }
}
@media (max-width: 1200px) {
  .home__center {
    padding: 20px;
  }
  .home__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 30px;
  }
  .home__column {
    border-right: none;
    padding-right: none;
  }
  .about__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .help__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 30px;
  }
}
@media (max-width: 1130px) {
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 30px;
  }
  .header__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .header__img {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .nav__list,
  .nav__btn {
    display: none;
  }
}
@media (max-width: 900px) {
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .help__img {
    width: 100%;
  }
  .help__input,
  .help__area {
    width: 100%;
  }
  .help__inputs {
    gap: 20px;
  }
}
@media (max-width: 450px) {
  .nav__img {
    max-width: 150px;
  }
  .help__cheked {
    gap: 0px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 25px;
    text-align: center;
  }
}