@font-face {
    font-family: "Manrope200";
    src: url(../fonts/Manrope/Manrope-ExtraLight.ttf);
}
@font-face {
    font-family: "Manrope300";
    src: url(../fonts/Manrope/Manrope-Light.ttf);
}
@font-face {
    font-family: "Manrope400";
    src: url(../fonts/Manrope/Manrope-Regular.ttf);
}
@font-face {
    font-family: "Manrope500";
    src: url(../fonts/Manrope/Manrope-Medium.ttf);
}
@font-face {
    font-family: "Manrope600";
    src: url(../fonts/Manrope/Manrope-SemiBold.ttf);
}
@font-face {
    font-family: "Manrope700";
    src: url(../fonts/Manrope/Manrope-Bold.ttf);
}
@font-face {
    font-family: "Manrope800";
    src: url(../fonts/Manrope/Manrope-ExtraBold.ttf);
}
