@use "./var";
.btn {
  padding: 14px 53px;
  background-color: var.$primary-color;
  border-radius: 9px;
  text-align: center;
  color: var.$white;
  font-family: "Manrope600";
  font-size: 16px;
  line-height: 26px;
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
